.movies {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 70px 50px 50px;
    width: 80%;
}

@media only screen and (max-width: 960px) {
    .movies {
        padding: 70px 0;
    }
}
